@using Entity.Concrete
@model List<ProductionOperationNotifications>

<h4>Üretim Operasyon Bildirimleri</h4>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Kayıt No</th>
            <th>Başlangıç</th>
            <th>Bitiş</th>
            <th>Topam Süre</th>
            <th>Statü</th>
            <th>Duruş Nedeni</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ID</td>
                <td>@item.Start.ToString("MM/dd/yy HH:mm").Replace('.', '/')</td>
                <td>@item.Finish.ToString("MM/dd/yy HH:mm").Replace('.', '/')</td>
                <td>@item.TotalTime.ToString("hh\\:mm")</td>
                <td>@((int)item.Status == 1 ? "Üretim" : "Duruş")</td>
                <td>@item.ReasonForStopping</td>

            </tr>
        }
    </tbody>
</table>

